---
openapi: 3.0.0
info:
  version: "1.0"
  title: LBAW Porto's Bookshelf WEB API
  description: Web Resources Specification (A7) for Porto's Bookshelf
servers:
  - url: http://lbaw.fe.up.pt
    description: Production server
externalDocs:
  description: Find more info here.
  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07
tags:
  - name: "M01: Authentication"
  - name: "M02: Individual Profile"
  - name: "M03: User Administration and Static pages"
  - name: "M04: Shop"
  - name: "M05: Shopping Cart"
paths:
  /login:
    get:
      operationId: R101
      summary: "R101: Login Form"
      description: "Provide login form. Access: PUB"
      tags:
        - "M01: Authentication"
      responses:
        "200":
          description: Ok. Show Log-in UI
    post:
      operationId: R102
      summary: "R102: Login Action"
      description: "Processes the login form submission. Access: PUB"
      tags:
        - "M01: Authentication"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
      responses:
        "302":
          description: Redirect after processing the login credentials
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucess:
                  description: Sucessful authentication. Redirect to product page
                  value: /products
                302Error:
                  description: Failed authentication. Redirect to login form
                  value: /login
  /logout:
    post:
      operationId: R103
      summary: "R103: Logout Action"
      description: "Logout the current authenticated user. Access: USR, ADM"
      tags:
        - "M01: Authentication"
      responses:
        "302":
          description: Redirect after processing logout.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucess:
                  description: Sucessful logout. Redirect to login form
                  value: /login
  /register:
    get:
      operationId: R104
      summary: "R104 : Register Form"
      description: "Provide new user registration form. Access: PUB"
      tags:
        - "M01: Authentication"
      responses:
        "200":
          description: Ok. Show Register UI
    post:
      operationId: R105
      summary: "R105: Register Action"
      description: "Processes the new user registration form submission. Access: PUB"
      tags:
        - "M01: Authentication"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - name
                - username
                - email
                - password
      responses:
        "302":
          description: Redirect after processing the new user information.
          headers: null
          Location:
            schema: null
            type: string
            examples: null
            302Success:
              description: Successful authentication. Redirect to products page.
              value: /products
            302Failure:
              description: Failed authentication. Redirect to login form.
              value: /login
  "/profile/{id}":
    get:
      operationId: R201
      summary: "R201: View user profile"
      description: "Show the individual user profile. Access: USR"
      tags:
        - "M02: Individual Profile"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: Ok. Show User Profile UI
  "/users/{id}/purchaseHistory":
    get:
      operationId: R202
      summary: "R202: View users purchase history"
      description: "Show the users purchase history. Acess: OWN"
      tags:
        - "M02: Individual Profile"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: Ok. Show user purchase history UI
  /products:
    get:
      operationId: R401
      summary: "R401: View products list"
      description: "Show the list of products. Acess: PUB"
      tags:
        - "M04: Shop"
      responses:
        "200":
          description: Ok. Show products list UI
  "/products/{id}":
    get:
      operationId: R402
      summary: "R402: View products details"
      description: Show the information about a product. Access PUB
      tags:
        - "M04: Shop"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: Ok. Show products details UI
        "404":
          description: Error. Product was not found
  /search:
    get:
      operationId: R403
      summary: "R403: Search for products/authors"
      description: Show the products/authors that match the specified search criteria.
        Access PUB
      tags:
        - "M04: Shop"
      parameters:
        - in: query
          name: name
          description: Search for product/author name
          schema:
            type: string
        - in: query
          name: category
          description: Select category from a list of options
          schema:
            type: string
            enum:
              - Fiction
              - Non-fiction
              - Sci-Fi
              - Romance
              - Mystery
              - Fantasy
              - Biography
        - in: query
          name: min_price
          description: Minimum price for product
          schema:
            type: number
            format: float
        - in: query
          name: max_price
          description: Maximum price for product
          schema:
            type: number
            format: float
        - in: query
          name: min_review_score
          description: Minimum review score for product/author
          schema:
            type: number
            format: float
            minimum: 0
            maximum: 5
        - in: query
          name: max_review_score
          description: Maximum review score for product/author
          schema:
            type: number
            format: float
            minimum: 0
            maximum: 5
      responses:
        "200":
          description: Ok. Show search results.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: null
                  id:
                    type: integer
                  name:
                    type: string
                  author:
                    type: string
                  category:
                    type: string
                  price:
                    type: number
                    format: float
                  average_review_score:
                    type: number
                    format: float
  "/shoppingCart/{id}":
    get:
      operationId: R501
      summary: "R501: View Shopping Cart"
      description: Show the products present in the Shopping Cart and its quantity.
        Access OWN
      tags:
        - "M05: Shopping Cart"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: Ok. Show Shopping Cart.
  /checkout:
    get:
      operationId: R404
      summary: "R404: Checkout"
      description: "Execute the checkout so the order is completed. Acess: USR"
      tags:
        - "M05: Shopping Cart"
      responses:
        "200":
          description: Ok. Show checkout page
    post:
      operationId: R405
      summary: "R405: Checkout processment"
      description: "Checkout is processed. Acess: OWN"
      tags:
        - "M05: Shopping Cart"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                shippingAdress:
                  type: string
                NIF:
                  type: string
                cardNumber:
                  type: string
      responses:
        "302":
          description: Redirect after the checkout
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucess:
                  description: The checkout was sucessful. You will now be redirected to the main
                    page
                  value: /products
                302Failure:
                  description: The checkout was not sucessful. You will now be redirected to the
                    checkout page
                  value: /checkout
/faq:
  get:
    operationId: R301
    summary: "R301: View FAQ page."
    description: Show the contents of the FAQ page. Access PUB
    tags:
      - "M03: User Administration and Static pages"
    responses:
      "200":
        description: Ok. Show FAQ page
/contacts:
  get:
    operationId: R302
    summary: "R302: View Contacts page."
    description: Show the contents of the Contacts page. Access PUB
    tags:
      - "M03: User Administration and Static pages"
    responses:
      "200":
        description: Ok. Show Contacts page
/about:
  get:
    operationId: R303
    summary: "R303: View Contacts page."
    description: Show the contents of the About page. Access PUB
    tags:
      - "M03: User Administration and Static pages"
    responses:
      "200":
        description: Ok. Show About page
